<nav class="header-nav text-center p-2">
    <div class="container-fluid container ">
      
      <div class="row">
        <div class="col-4  d-flex align-items-center ">
          <a href=""><i class="fab fa-facebook-square social-icon mr-3"></i></a>
          <a href=""><i class="fab fa-instagram-square social-icon mr-3"></i></a>
          <a href=""><i class="fab fa-pinterest-square social-icon mr-3"></i></a>
          <a href=""><i class="fab fa-twitter-square social-icon "></i> </a>   
        </div>
        <div class="col-4">
          <a class="navbar-brand header-brand" href="#">MITIENDA</a>
        </div>
        <div class="col-4 d-flex align-items-center text-right">
          <input type="text" name="" id="" class="form-control mr-1">
          <button type="button" class="btn btn-dark">Buscar</button>
        </div>
      </div> 
           
      <div class="row">
        <div class="col-12 text-left d-flex aling-items-center">
          <p class="" style="font-size: 15px;"><i class="fas fa-phone-alt "></i> 11 3982-2363</p> 
        </div>
      </div>
      
      <div class="row">
        <div class="col-12 d-flex justify-content-center header-nav-item" >
          <a href="" >Inicio</a>
          <a href="" >Productos</a>
          <a href="" >Contacto</a>
        </div>
      </div>
    
    
    
    </div>
 </nav>
