
<h4 class="text-center" >Categorias</h4>
<ul class="list-group-flush ">
    <li class="list-group-item sidebar-categories">
       <a data-toggle="collapse" href="#collapseAccesorios" role="button" aria-expanded="false" aria-controls="collapseAccesorios">
            <div class="d-flex justify-content-between">
                <p>Accesorios</p> 
                <p><i class="fas fa-chevron-down"></i></p>
            </div>
        </a>         
        <ul id="collapseAccesorios" class="collapse list-group-flush">
            <li><a href="" class="link">Categoria 1</a></li>
            <li><a href="" class="link">Categoria 2</a></li>
            <li><a href="" class="link">Categoria 3</a></li>       
        </ul>
    </li>
    <li class="list-group-item sidebar-categories">
        <a data-toggle="collapse" href="#collapseHombre" role="button" aria-expanded="false" aria-controls="collapseHombre">
            <div class="d-flex justify-content-between">
                <p>Hombre</p> 
                <p><i class="fas fa-chevron-down"></i></p>
            </div>
        </a>       
        <ul id="collapseHombre" class="collapse     list-group-flush">
            <li><a href="" class="link">Categoria 1</a></li>
            <li><a href="" class="link">Categoria 2</a></li>
            <li><a href="" class="link">Categoria 3</a></li>  
        </ul>
    </li>
    <li class="list-group-item sidebar-categories">
        <a data-toggle="collapse" href="#collapseMujer" role="button" aria-expanded="false" aria-controls="collapseMujer">
            <div class="d-flex justify-content-between">
                <p>Mujer</p> 
                <p><i class="fas fa-chevron-down"></i></p>
            </div>
        </a>
        <ul id="collapseMujer" class="collapse     list-group-flush">
            <li><a href="" class="link">Categoria 1</a></li>
            <li><a href="" class="link">Categoria 2</a></li>
            <li><a href="" class="link">Categoria 3</a></li>        
        </ul>
    </li>
</ul>



